@page "/"

<PageTitle>Home</PageTitle>

<img alt="Example image" src="/icons/about.svg" />
<h1>Hello, world 1!</h1>

<img alt="Example image" src="/icons/about.svg" />Hello, world 2!
<div class="height">
    <DxIcon Name="Icon.About" Size="32"/>Hello, world 3!
</div>
<DxIcon Name="Icon.About" MarginRight="10" Size="100"/>Hello, world 4!