@page "/"

<PageTitle>Home</PageTitle>

@* <h1>Hello, world 1!</h1> *@
@* *@
@* <img alt="Example image" src="/icons/about.svg" />Hello, world 2! *@
<DxIcon Icon="Icon.Add" Size="32"/>Hello, world 3!
<DxIcon Icon="Icon.Coffee" MarginRight="10" Size="100"/>Hello, world 4!
<DxIcon Icon="Icon.Coffee" MarginRight="10" Size="100" Type="IconType.Generic"/>Hello, world 4!